# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\HEIG\PRO\PRO-B01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
